<html>
	<head>
		<title>Game complete</title>
        <link rel="icon" type="image/png" href="img/favicon.png">
        <style>
            div{
                text-align: center;
            }
            input[type=submit]:focus {
              background-color: lightgreen;
            alignment: center;
            }
            input[type=password]:focus {
              background-color: lightgreen;
            alignment: center;
            }
        </style>
	</head>
	<body>
    <div>
         <span>{{ message }}</span><br><br>
            <form method="post" action="/play">
				<input type="submit" align="center" style="float: left" value="Play again!" name="replay"/>
				<br>
			</form>
    </div>

	</body>

</html>
