<html>
	<head>
		<title>Home Page</title>
        <link rel="icon" type="image/png" href="img/favicon.png">
	</head>
	<!-- This is the CSS style for the logged in info in the top right of the home page -->
	<style>
		.loggedUser {
			line-height: 1.5;
			font-size: 20px;
			font-weight: bold;
		}
        table.center {
            margin-left: auto;
            margin-right: auto;
            }

	</style>
	<body>
		<!-- Display the logged in user in the top right -->
		<div class="loggedUser">
			<span style="float: right">Logged in as:</span><br/>
			<span style="float: right">{{ currentuser }}</span>
			<br>
		</div>

            <form type="submit" action="/">
				<!-- Button to navigate to 'index' page -->
				<input type="submit" style="float:right" value="Exit" name="ind"/>
			</form>

                <form method="post" action="/play">
                    <table class="center">
            <tr>
				<!-- Button to navigate to 'index' page -->
                <td><input type="submit" style="float: left" value="Play" name="play"/></td>
            </tr>
                    </table>
			</form>
			<form type="submit" action="/change_password">
				<!-- Button to change password -->
				<input type="submit" style ="float:right" value="Change Password" name="change-pass"/>
			</form>
	</body>
</html>
